/*Header*/
#header {
	/* background: tomato; */
	font-family: 'Cherry Swash', cursive;
	opacity: 0.85;
	/* margin: 0 auto; */
	z-index: 1;
	height: 50px;
}
.container {
	width: 500px;
	margin: 0 auto; /* set in  center */
}

/*Menu*/
/*
ul#menu {
	list-style-type: none;
	font-size: 0;
}
ul#menu > li {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}
ul#menu > li > a{
	display: inline-block;
	width: 50px;
	height: 40px;
	font-size:16px;

	text-decoration: none;
	text-align: center;
	line-height: 40px;
	color: rgba(29, 21, 11, 0.83);
}
ul#menu > li > a:hover {
	opacity: 0.7;
	transition: 0.85s;
}*/

/*Footer*/
#footer {
	/* background: skyblue; */
	opacity: 0.7;
	font-family: 'Cherry Swash', cursive;
	float: right;
}
